.skills {
    min-height: 100vh;
    background-color: rgba(0, 243, 165, 0.24);
    display: flex;
    justify-content: center;
    align-items: center;
}


.skillsContainer {
    width: 80%;
    border: 1px solid;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.skillContainer {
    width: 100%;
    display: flex;
    border: 1px solid;
    justify-content: space-between;
    flex-wrap: wrap;

}

.title{
    margin-bottom: 150px;
}