@font-face {
    font-family: "Poppins";
    src: url("../common/fonts/Poppins/Poppins-Bold.ttf");
}

.mainBlock {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 250px 0;

    background: linear-gradient(115deg, rgba(246,158,11,0.1012998949579832) 0%, rgba(246,158,11,0.1) 49%, rgba(246,158,11,0.35) 49%, rgba(246,158,11,0.35) 60%, rgba(246,158,11,1) 60%, rgba(246,158,11,1) 86%, rgba(246,158,11,0.1) 86%);
    background-color: var(--bg-color);
}

.mainContainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.text {
    width: 550px;
    font-size: 40px;
    text-transform: uppercase;
}

.text h4 {
    line-height: 1.5;
    margin: 0;
    margin-bottom: 1rem !important;

    font-weight: 900 !important;
    font-family: "Poppins", sans-serif;
}



.text p {
    color:#94a3b8;
    font-size: 25px;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
    text-transform: none;
    opacity: 0.7;
}

.text a button{
    cursor: pointer;
}

.typingText {
    color:#f59e0b;
    font-weight: 900 !important;
    font-family: "Poppins", sans-serif;
}

.textLocation {
    cursor: pointer;
    transition: color .6s;
}

.textLocation:hover {
    color:rgb(246,158,11);
}

.buttonWrapper {
    display: flex;
    gap:20px;
}

.photo {
    min-width: 20%;
    min-height: 20%;
    display: block;
    overflow: hidden;
    background-color: #fff;
    border-radius: 100%;
    border: 18px solid #fff;
    -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 25px 10px rgba(0,0,0,.1);
}

@media (max-width: 767px) {
    .mainBlock{
        padding: 150px 0 50px 0;
    }
    .mainContainer{
        justify-content: center;
        gap: 50px;
    }
    .text{
        font-size: 35px;

    }
    .typingText{
        color:var(--text-color);
    }
    .photo{
        display: none;
    }
    .buttonWrapper button{
        color:var(--text-color);
        opacity: .8;
        border-color: var(--text-color);
    }
}




@media (max-width: 400px){

}