@font-face {
    font-family: "Poppins";
    src: url("../common/fonts/Poppins/Poppins-Bold.ttf");
}

.mainBlock {
    height: 100vh;
    background-color: var(--bg-color);
    /*background-color: rgba(250, 85, 85, 0.22);*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*background: rgb(246,158,11);*/
    background: linear-gradient(115deg, rgba(246,158,11,0.1012998949579832) 0%, rgba(246,158,11,0.1) 49%, rgba(246,158,11,0.35) 49%, rgba(246,158,11,0.35) 60%, rgba(246,158,11,1) 60%, rgba(246,158,11,1) 86%, rgba(246,158,11,0.1) 86%);
}

.mainContainer {
    /*border: 1px solid;*/
    width:80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
}

.text {
    min-width: 60%;
    font-size: 55px;
    text-transform: uppercase;
}

.text h4 {
    line-height: 1.5;
    margin: 0;
    margin-bottom: 1rem !important;
    font-weight: 900 !important;
    font-family: "Poppins", sans-serif;
}

.text p {
    color:#94a3b8;
    font-size: 25px;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
    opacity: 0.7;
    text-transform: none;
}

.text a button{
    cursor: pointer;
}

.typingText {
    color:#f59e0b;
    font-weight: 900 !important;
    font-family: "Poppins", sans-serif;
}

.textLocation {
    cursor: pointer;
    transition: color .6s;
}

.textLocation:hover {
    color:rgb(246,158,11);
}

.photo {
    min-width: 20%;
    min-height: 20%;
    display: block;
    overflow: hidden;
    background-color: #fff;
    border-radius: 100%;
    border: 18px solid #fff;
    -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 25px 10px rgba(0,0,0,.1);
}