.nav {
    /*border:1px solid;*/
    display: flex;
    align-items: center;
    gap:20px;

}

.nav a {
    text-decoration: none;
    padding: 0.75rem;
    font-size: 20px;
    font-weight: 900;
    color:var(--text-color);
    opacity: .7;
    transition: opacity .6s;
}

.nav a:hover{
    opacity: 1;
    cursor:pointer;
}


.active {
    opacity: 1;
}