.contactsWrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top:40%;
    left:5%;
    background-color: var(--blackWhite);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 19px -3px rgba(34, 60, 80, 0.38);
}

.linkWrapper{
}

.uilGithub {
    width: 30px;
    height: 30px;
    fill:var(--mainColor);
    transition: .2s linear;
}

.uilGithub:hover {
    width: 30px;
    height: 30px;
    fill:var(--text-color);

}


/*.uilGithub::before {*/
/*    */
/*}*/