.projects {
    background-color: var(--bgSecondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectsContainer{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 50px;
}

.projectContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-gap: 100px;
}


@media (max-width: 767px) {
    .projectContainer{
        grid-gap: 40px;
    }
}

